.heading{
  background-color:#fce77d;
  text-align:center;
}
.navbar{
  background-color:#f96167;
  color:#fce77d;
}
.navbar ul{
  margin:0;
  padding:0;
}
.navbar>.left li{
  list-style:none;
  float:left;
}
.navbar>.right li{
  list-style:none;
  float:right;
}
.navbar li a{
  padding-left:20px;
  padding-right:20px;
  color:#fce77d;
}
.navbar li a:hover{
  color:black;
}
a:visited,a:active,a:link{
  text-decoration:none;
  color:#f96167;
}
a:hover{
  text-decoration:none;
  color:black;
}
body{
  background-color:#ffe6e6;
}
h4{
  text-align:center;
}
hr{
  border-top:2px solid black;
}
.content{
  padding:20px;
  background-color:white;
  width:50%;
  border:2px solid black;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}
.log-form{
  width:65%;
  margin:auto;
}
.log-form input{
  width:100%;
  border:2px solid #2BAE66FF;
  border-radius:8px;
}
.form-btn{
  color:#2BAE66FF;
  background:white;
  border-color:#2BAE66FF;
  border-radius:8px;
  padding:5px;
  margin:10px;
}
.form-btn:hover{
  color:white;
  background:#2BAE66FF;
  transition-duration:0.6s;
}
.center{
  text-align:center;
}
.content-form{
  margin:auto;
  width:100%;
}
.content-form textarea{
  width:100%;
  border:2px solid #2BAE66FF;
  border-radius:8px;
  resize:none;
  height:150px;
}
table{
  margin:auto;
  margin-top:20px;
  border:1px solid black;
  border-collapse:separate;
}
td{
  border:1px solid black;
  border-collapse:separate;
  width:300px;
  padding:10px;
}
th{
  border:1px solid black;
  border-collapse:separate;
  width:300px;
  padding:10px;
  text-align:center;
}
