{%extends 'CodeHub/form_base.html'%}
{%block content%}
<div class="content">
    <h4>User Details</h4><hr>
    <b>Name :</b> {{userob.first_name}} {{userob.last_name}}<br>
    <b>Username :</b> {{userob.username}}<br>
    <b>Email :</b> {{userob.email}}<br>
    {%if cf%}
        <b>Codeforces ID :</b> {{cf.handle}}<br>
        <b>Current Codeforces Rating :</b> {{cf.rating}} ({{cf.rank}})<br>
        <b>Max Codeforces Rating :</b> {{cf.maxRating}} ({{cf.maxRank}})
    {%else%}
        <b>Codeforces ID :</b> Not Provided
    {%endif%}
</div>
{%endblock%}
