{%extends 'CodeHub/form_base.html'%}
{%block content%}
<div class="content">
    <h4>User Details</h4>
    <table>
        <tbody>
            <tr>
                <td><b>Name</b></td>
                <td>{{userob.first_name}} {{userob.last_name}}</td>
            </tr>
            <tr>
                <td><b>Username</b></td>
                <td>{{userob.username}}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>{{userob.email}}</td>
            </tr>
            {%if cf%}
                <tr>
                    <td><b>Codeforces ID</b></td>
                    <td>{{cf.handle}}</td>
                </tr>
                <tr>
                    <td><b>Current Codeforces Rating</b></td>
                    <td>{{cf.rating}} ({{cf.rank}})</td>
                </tr>
                <tr>
                    <td><b>Max Codeforces Rating</b></td>
                    <td>{{cf.maxRating}} ({{cf.maxRank}})</td>
                </tr>
            {%else%}
                <tr>
                    <td><b>Codeforces ID</b></td>
                    <td>Not Provided</td>
                </tr>
            {%endif%}
            <tr>
                <td><b>Questions</b></td>
                <td>{{contri.no_of_q}}</td>
            </tr>
            <tr>
                <td><b>Answers</b></td>
                <td>{{contri.no_of_a}}</td>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}
