{%extends 'CodeHub/form_base.html'%}
{%block content%}
<div class="content">
    <h4>Details of User</h4><hr>
    <b>Name : {{userob.first_name}} {{userob.last_name}}<br>
    Username : {{userob.username}}<br>
    Email : {{userob.email}}<br>
    {%if cf%}
        Codeforces ID : {{cf.handle}}<br>
        Current Codeforces Rating : {{cf.rating}} ({{cf.rank}})<br>
        Max Codeforces Rating : {{cf.maxRating}} ({{cf.maxRank}})
    {%else%}
        Codeforces ID : Not Provided
    {%endif%}</b>
</div>
{%endblock%}
