{%extends 'CodeHub/form_base.html'%}
{%load static%}
{%block content%}
<div class="content">
    <h4>Upcoming Contests on Codeforces, Codechef and Leetcode</h4>
    <table>
        <colgroup>
            <col style="width:70%;">
            <col style="width:30%;">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Time</th>
            </tr>
        </thead>
        <tbody>
            {%for i in list%}
                <tr>
                    <td>
                        {%if i.site == 'Codeforces'%}
                            <img src="{%static 'images/cf.png'%}" style="height:25px;width:25px;">
                        {%elif i.site == 'Codechef'%}
                            <img src="{%static 'images/chef.jpg'%}" style="height:25px;width:25px;">
                        {%elif i.site == 'Leetcode'%}
                            <img src="{%static 'images/lc.png'%}" style="height:25px;width:25px;">
                        {%endif%}
                        <a href="{{i.url}}" target="_blank">{{i.name}}</a>
                    </td>
                    <td>{{i.start}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}
